apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pgdata
  namespace: ens
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-data
  namespace: ens
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 5Gi
